<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22694069-2its7dvco9v5rs4jukuim943k0fq2g40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22694069-2its7dvco9v5rs4jukuim943k0fq2g40</string>
	<key>API_KEY</key>
	<string>AIzaSyCZJoFOK9zXf-tJX3JiIMgAMlnN7lkxUVM</string>
	<key>GCM_SENDER_ID</key>
	<string>22694069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.versea</string>
	<key>PROJECT_ID</key>
	<string>versea-e29cb</string>
	<key>STORAGE_BUCKET</key>
	<string>versea-e29cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22694069:ios:d0effe59925b90a5a316fc</string>
</dict>
</plist>